@import "../vendor.scss";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
img {
    max-width: 100%;
    height: auto
}

.saludHeader {
    font-family: 'Playfair Display', serif;
    text-shadow: 5px 2px pink;
    font-size: 40px
}
